<main class="material">
  <h1>
    Линия - Алгоритм Брезенхэма
  </h1>
  <p>
    Цель данной главы - создать рендер в проволочной сетке, для этого нужно научиться рисовать отрезки.
  </p>
  <app-image link="/assets/img/line/line_1.png" desc="Рисунок 1.1 - Проволочный рендер"></app-image>
  <p>Для создания линии с помощью точек (пикселей) используется алгоритм Брезенхема - это алгоритм, определяющий, какие точки двумерного растра нужно закрасить, чтобы получить близкое приближение прямой линии между двумя заданными точками. Это один из старейших алгоритмов в машинной графике — он был разработан Джеком Элтоном Брезенхэмом (англ. Jack Elton Bresenham) в компании IBM в 1962 году. Алгоритм широко используется, в частности, для рисования линий на экране компьютера.</p>
  <app-image link="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/LineBresenham.gif/336px-LineBresenham.gif" desc="Рисунок 1.2 - Демонстрация работы алгоритма"></app-image>
  <h2>
    Описание алгоритма
  </h2>
  <p>
    Отрезок проводится между двумя точками - (x0, y0) и (x1, y1), где в этих парах указаны столбец и строка соответственно, номера которых растут вправо и вниз. Сначала мы будем предполагать, что наша линия идёт вправо и вниз, причём горизонтальное расстояние x1 - x0 превосходит вертикальное y1 - y0, то есть наклон линии от горизонтали — менее 45°. Наша цель состоит в том, чтобы для каждого столбца x между x0 и x1 определить, какая строка y ближе всего к линии, и нарисовать точку (x, y).
  </p>
  <app-image link="/assets/img/line/line_3.svg" desc="Рисунок 1.3 - Общая формула линии между двумя точками"></app-image>
  <h2>
    Проволочный рендер
  </h2>
  <p>Теперь с помощью алгоритма создания линий мы готовы создать проволочный рендер. Для хранения 3D модели рекомендуется использовать формат .obj из-за его простоты, файл данного формат содержит координаты вершин (X, Y, Z), по одной координате на каждую строку. Данный функционал уже реализован в подключенной библиотеке.</p>
  <h2 class="task">Задание</h2>
  <p>1. Реализовать алгоритм построения линии, выходной файл изображения обязательно должен иметь название: "output.tga"</p>
  <pre><code [languages]="['c++']" [highlight]="code1"></code></pre>
  <p>2. Создать рендер трёх линий различного цвета с различными углами наклона, как показанно на примере.</p>
  <app-image link="/assets/img/line/line_4.jpg" desc="Рисунок 1.4 - Пример выполненного задания - 2"></app-image>
  <p>3. Проверить корректность работы созданного алгоритма путём рисования 3д модели, (код для рисования представлен ниже).</p>
  <pre><code [languages]="['c++']" [highlight]="code2"></code></pre>
  <app-image link="/assets/img/line/1_5.png" desc="Рисунок 1.5 - Пример выполненного задания - 3"></app-image>
</main>
