<main class="material">
  <h1>
    Введение
  </h1>
  <div class="container">
    <p>
      Данная платформа содержит учебное пособие по дисциплине <b>"Компьютерная геометрия и графика"</b>, а также полноценную интегрированную программную среду для выполнения практических заданий.
    </p>
    <p>
      В учебном пособии содержатся основные принципы и подходы к программированию компьютерной геометрии и графики используя при этом минимальные программные абстракции. Цель данного пособия является введение студентов в мир программирования компьютерной геометрии и графики. Учебное пособие состоит из 6 глав, каждая из которых содержит теоретический материал по определённой теме и набор практических заданий для выполнения студентом.
    </p>
    <p>
      Программная среда представляет собой интерфейс, в котором студент может выполнять практические задания, создавая программный и код и получая результирующее изображение. Для работы с графикой в среду интегрирована библиотека TGAImage которая позволяет взаимодействовать на низком уровне с изображения формата TGA, что позволяет изменять каждый пиксель изображения формирую результирующий рендер.
    </p>
  </div>
  <p [style.text-align]="'right'">Должиков С.В, Гетман А.В.</p>
  <span [style.text-align]="'right'" [style.display]="'block'">Владивосток 2022</span>
</main>
