.main {
  min-height: 100%;
}

.logo {
  background-color: #a41e22;
  min-height: 100px;
  font-size: 30px;
  color: white;
  padding: 10px 20px;
  line-height: 34px;
  max-width: 380px;
}

.content {
  background-color: #e8e8e8;
}

::ng-deep .ant-card-body {
  padding: 10px;
}
