<nz-row class="main">
  <nz-col nzSpan="6">
    <nz-sider nzWidth="380px">
      <div [style.position]="'fixed'">
        <div class="logo">Компьютерная графика и геометрия</div>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item routerLink="/introduction">
            <span>Введение</span>
          </li>
          <li nz-menu-item routerLink="/line">
            <span>Создание линии</span>
          </li>
          <li nz-menu-item routerLink="/rasterization">
            <span>Растеризация</span>
          </li>
          <li nz-menu-item routerLink="/zbuffer">
            <span>Удаление невидимых поверхностей</span>
          </li>
          <li nz-menu-item routerLink="/perspective">
            <span>Перспективное искажение</span>
          </li>
          <li nz-menu-item routerLink="/camera">
            <span>Движение камеры</span>
          </li>
          <li nz-menu-item (click)="switch()">
            <span>Среда выполнения</span>
          </li>
        </ul>
      </div>
    </nz-sider>
  </nz-col>
  <nz-col class="content" nzSpan="18">
    <nz-row nzJustify="center">
      <nz-col nzSpan="15">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzHeight]="'90%'"
  nzPlacement="bottom"
  nzTitle="Среда выполнения"
  (nzOnClose)="switch()"
>
  <ng-container *nzDrawerContent>
    <nz-row nzJustify="space-between" [nzGutter]="[10,10]">
      <nz-col nzSpan="11">
        <textarea spellcheck="false" rows="15" nz-input [(ngModel)]="codeInput"></textarea>
        <nz-collapse>
          <nz-collapse-panel
            [nzHeader]="'Консоль'"
          >
            <textarea spellcheck="false" rows="5" nz-input [(ngModel)]="codeResult"></textarea>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-col>
      <nz-col nzSpan="2">
        <button [style.width.%]="100" nz-button (click)="post()">
          <i nz-icon nzType="play-circle" nzTheme="outline"></i>
          Run
        </button>
      </nz-col>
      <nz-col nzSpan="11">
        <nz-spin [nzSpinning]="loading">
          <nz-card [style.height.%]="100">
            <div class="image-wrapper">
              <img nz-image [src]="imgUrl" [nzSrc]="imgUrl"/>
            </div>
          </nz-card>
        </nz-spin>
      </nz-col>
    </nz-row>
  </ng-container>
</nz-drawer>


