<main class="material">
  <h1>Растеризация треугольника</h1>
  <p>
    В прошлый раз мы нарисовали проволочную сетку трёхмерной модели, в этот раз мы зальём полигоны. Точнее, треугольники, так как практически любой полигон триангулирован.
  </p>
  <p>Начальный код будет выглядеть следующим образом:</p>
  <pre><code [languages]="['c++']" [highlight]="code1"></code></pre>
  <p>В этом коде всё просто: даётся три треугольника для начальной отладки вашего кода; если внутри функции triangle просто сделать вызов line(), то получим контур треугольника</p>
  <app-image link="/assets/img/rastr/rast_1.png" desc="Рисунок 2.1 - Контуры треугольников"></app-image>
  <p>Теперь необходимо создать заполненный треугольник, хороший метод отрисовки треугольника должен обладать следующими свойствами:</p>
  <ul>
    <li>Он должен быть простым и быстрым</li>
    <li>Он должен быть симметричным: картинка не должна зависеть от порядка вершин, переданных в функцию отрисовки</li>
    <li>Если два треугольника имеют две общие вершины, между ними не должно быть дырок из-за округлений растеризации.</li>
  </ul>
  <h2>Разбор алгоритма</h2>
  <p>Предположим, что у нас есть три точки треугольника, t0, t1, t2, они отсортированы по возрастанию y-координаты.
    Тогда граница А будет между t0 и t2, граница Б будет между t0 и t1, а затем между t1 и t2.
  </p>
  <pre><code [languages]="['c++']" [highlight]="code2"></code></pre>
  <app-image link="/assets/img/rastr/rast_2.png" desc="Рисунок 2.2 - Граница А нарисована красным, а граница Б зелёным."></app-image>
  <p>Давайте отрисуем нижнюю половину треугольника, разрезав его по горизонтали в точке излома границы Б.</p>
  <pre><code [languages]="['c++']" [highlight]="code3"></code></pre>
  <app-image link="/assets/img/rastr/rast_3.png" desc="Рисунок 2.3 - Разрывные линии"></app-image>
  <p>Если мы соединим горизонтальными линиями соответствующие пары точек, то пробелы пропадут:</p>
  <app-image link="/assets/img/rastr/rast_4.png" desc="Рисунок 2.4"></app-image>
  <p>Теперь осталось отрисовать вторую половину треугольника. Это можно сделать, добавив второй цикл:</p>
  <pre><code [languages]="['c++']" [highlight]="code4"></code></pre>
  <app-image link="/assets/img/rastr/rast_5.png" desc="Рисунок 2.5 - Закрашенные треугольники"></app-image>
  <h2 class="task">Задание</h2>
  <p>Создать рендер модели с помощью закрашенных треугольников используя изученный алгоритм.</p>
  <app-image link="/assets/img/rastr/rast_6.png" desc="Рисунок 2.6 - Пример выполненного задания"></app-image>
</main>
