@import "~ng-zorro-antd/ng-zorro-antd.css";
@import '~highlight.js/styles/github-dark-dimmed.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

html {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p{
  text-indent: 15px !important;
  text-align: justify;
}

h1, h2, h3 {
  text-indent: 15px !important;
}

.material {
  background-color: white;
  padding: 10px;
}

.ant-layout-sider-children {
  background-color: #343131 !important;
}

.ant-menu, .ant-menu * {
  background-color: #272525 !important;
  color: white;
  span {
    background-color: rgba(0,0,0,0) !important;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #4e4a4a !important;
}

.task {
  margin-top: 20px;
  text-align: center;
}

p {
  font-size: 15px;
}
